body
{
    background-color: #b2b2b2;
}

#Destiny
{
    position: fixed;
    left: .8%;
    margin-top: 1%;
    font-size: 40pt;
    font-family: Grotesk-Medium;
    z-index: 1;
}

#lefty
{
    border: 5px solid black;
    width: 19.5%;
    padding: 2%;
    padding-top: .5%;
    position: fixed;
    left: 1%;
    top: 11%;
    height: 82vh;
    overflow-y: scroll;
    text-align: left;
    font-family: Grotesk-Medium;
    overflow: hidden;

}
 
#righty
{
    border: 5px solid black;
    width: 68.9%;
    padding: 2%;
    padding-top: .5%;
    position: fixed;
    left: 26%;
    top: 11%;
    height: 82vh;
    overflow-y: scroll;
    text-align: left;
    font-family: Grotesk-Fine;
}



#Zoom
{
    display: none;
}


#PVD
{
    display: none;

}
#Quarentine
{
    display: none;

}
#OneFish
{
    display: none;

}
#Bait
{
    display: none;

}
#Faer
{
    display: none;

}
#RISO
{
    display: none;

}
#Abram
{
    display: none;

}
#bottom
{
    position: absolute;
    display: block;
    width: 110%;
    height: 20%;
    border: 2pt black solid;
    left: -10%;
}

@font-face {
    font-family:Grotesk-Fine ;
    src: url(./fonts/RightGrotesk-Fine.otf);
}
@font-face {
    font-family:Grotesk-Medium;
    src: url(./fonts/RightGrotesk-Medium.otf);
}
@font-face {
    font-family:Grotesk-CompactBlack;
    src: url(./fonts/RightGrotesk-CompactBlack.otf);
}
/*span {
    position: absolute;
    display: inline;
    animation: rotatis 6s infinite normal ;
    width: 90%;
  }
  
  @keyframes rotatis {
     0% { color: red; }
    25% { transform: translateX(90%); }
    50% {transform: rotat}
    75% { color: orange; }
   100% {  color: purple; }
  }
  */