body
{
    background-color: #b2b2b2;
}
#Destiny
{
    position: relative;
    display: block;
    left: .8%;
    margin-top: 0%;
    font-size: 40pt;
    font-family: Grotesk-Medium;
    z-index: 1;
}
#container
{
    height: auto;
    margin:auto;
    width: 30%;
    display: flex;
}
#lefty
{
    border: 5px solid black;
    width: 23.5%;
    padding-top: .5%;
    position: absolute;
    left: 1%;
    top: 11%;
    height: 65%;
    overflow-y: scroll;
    text-align: left;
    font-family: Grotesk-CompactBlack;
    display: flex;
    white-space: normal;
}
#bottom
{
    position: absolute;
    display: inline-block;
    width: 23.4%;
    min-height: 21%;
    border: 5pt black solid;
    border-top: 0px black solid;
    left: 1%;
    bottom: 1.2%;
    font-family: Grotesk-Fine;
    font-size: 1.5em;
    columns: 2;
    column-gap: 0pt;
    column-rule: 5px black solid;
    overflow: hidden;
}

#righty
{
    border: 5px solid black;
    width: 68%;
    padding-top: .5%;
    position: absolute;
    margin-bottom: 0%;
    left: 26%;
    top: 11%;
    overflow-y: scroll;
    text-align: left;
    font-family: Grotesk-Fine;
    display: inline-block;
    bottom: 1.2%;
}

.yarnk
{
    padding: 3%;
}

#title
{
    font-weight: bold;
    column-span: all;
    border-bottom: 5pt black solid;
}
#date
{

}
#medium
{
    column-fill: auto;
    overflow-wrap: break-word;
}
#dimentions
{
}
#production
{

}
#accordionGroup
{
    margin: 2%;
    padding: 1% 2%;
}

#Zoom, #PVD, #Quarentine, #OneFish, #Bait, #Faer, #RISO, #Abram
{
    display: none;
    padding: 1%;
}



@font-face {
    font-family:Grotesk-Fine ;
    src: url(./fonts/RightGrotesk-Fine.otf);
}
@font-face {
    font-family:Grotesk-Medium;
    src: url(./fonts/RightGrotesk-Medium.otf);
}
@font-face {
    font-family:Grotesk-CompactBlack;
    src: url(./fonts/RightGrotesk-CompactBlack.otf);
}
/*span {
    position: absolute;
    display: inline;
    animation: rotatis 6s infinite normal ;
    width: 90%;
  }
  
  @keyframes rotatis {
     0% { color: red; }
    25% { transform: translateX(90%); }
    50% {transform: rotat}
    75% { color: orange; }
   100% {  color: purple; }
  }
  */